.cds-input {
    outline: none !important;
    line-height: 2.5rem;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size: 14px;
    font-family: 'SegoeUI', 'Segoe UI';
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    height: 2.5rem;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: -10px;
    text-overflow: ellipsis;
}
